@using AnagramSolver.WebApp.ViewModels
@model AnagramViewModel

@{
    ViewData["Title"] = "Anagram Solver";
}
@if (ViewBag.LastSearch != null)
{
    <div class="alert alert-info">
        Paskutinį kartą ieškojote: <strong>@ViewBag.LastSearch</strong>
    </div>
}
<h5>Search History (This Session)</h5>
@if (ViewBag.History != null)
{
    <ul>
        @foreach (var item in (List<SearchHistoryItem>)ViewBag.History)
        {
            <li>@item.Word <small>(@item.SearchedAt.ToShortTimeString())</small></li>
        }
    </ul>
}
else
{
    <p>No history yet.</p>
}
<div class="text-center">
    <h1 class="display-4">Anagram Solver</h1>
    <p>Iveskite zodi, kad rasti jo anagramas.</p>
</div>

<div class="row justify-content-center">
    <div class="col-md-6">
        <form asp-controller="Anagram" asp-action="Index" method="post">
            <div class="form-group mb-3">
                <label asp-for="InputWord" class="form-label">Tavo zodis:</label>
                <input asp-for="InputWord" class="form-control" placeholder="pvz. labas" />
            </div>
            <button type="submit" class="btn btn-primary w-100">Ieskoti</button>
        </form>

        <hr />
        @if(Model.Result != null && Model.Result.Any())
        {
            <div class="mt-4">
                <h3>Rastos anagramos:</h3>
                <div id= "anagram-container"></div>
            </div>
        }
        else if (!string.IsNullOrEmpty(Model.InputWord))
        {
            <div class="alert alert-warning mt-4">
                Anagramų žodžiui "<strong>@Model.InputWord</strong>" nerasta.
            </div>
        }
    </div>
</div>


<script>
    const word = "@Model.InputWord";
    if(word){
        const key = `anagram_${word}`;
        const cached = localStorage.getItem(key);

        if (cached) {
            console.log("Found in LocalStorage!");
            displayResults(JSON.parse(cached));
        } else {
            console.log("Not in LocalStorage, fetching...");
            fetch(`/api/anagrams/${word}`)
                .then(r => r.json())
                .then(data => {
                    localStorage.setItem(key, JSON.stringify(data));
                    displayResults(data);
                });
        }
    }

        function displayResults(data) {
        const container = document.getElementById("anagram-container");
        container.innerHTML = "";

        if (data && data.length > 0) {
            const ul = document.createElement("ul");
            ul.className = "list-group";

            data.forEach(item => {
                const li = document.createElement("li");
                li.className = "list-group-item";
                li.textContent = item;
                ul.appendChild(li);
            });
            container.appendChild(ul);
        } else {
            container.innerHTML = "<p class='alert alert-warning'>No anagrams found.</p>";
        }
    }
</script>